{% extends 'base.html.twig' %}

{% block contenido %}

    <div class="container ">    
        <h3>{%  block title  %}Suplementación {% endblock %}</h3>

        <div class="container mt-4 text-center">

            <div class="row ">
                <!-- Tarjeta de Producto 1 -->
                {% for familia in familias %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card ">
                            <img src="{{ asset('images/LOGO.png') }}" class="card-img-top mx-auto d-block" alt="Producto 1">
                            <div class="card-body">
                                <h5 class="card-title">{{ familia.getNombre()}}<a/></h5>
                                <a  class="btn btn-primary" text-decoration="none"  href="{{ path('productos', {'familia': familia.getId()}) }}">Ver Productos</a>

                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div>
        </div>      

    {% endblock %}

